certifi
cffi
cycler
decorator
flammkuchen
helpdev
imageio
imageio-ffmepg
importlib-metadata
joblib
jsonnet
kiwisolver
llvmlite
matplotlib
networkx
numba
numexpr
numpy
opencv-python
pandas
Pillow
pycparser
pyparsing
PyQt5
PyQt5-sip
pyqtgraph
python-dateutil
pytz
PyWavelets
QDarkStyle
qimage2ndarray
QtPy
scikit-image
scikit-learn
scipy
six
sounddevice
tables
threadpoolctl
tifffile
tqdm
wincertstore
zipp
